    <div id="mainbody">
         <div class="container">
            <h1 class="page-header">修改密码</h1>
             <div class="col-md-6">
                 {% if messages %}
                    {% for message in messages %}
                      <div class="alert alert-success alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        {{ message }}
                      </div>
                    {% endfor %}
                 {% endif %}
             <form role="form" class="ChangePasswordForm" action="{% url 'changePassword' %}" method="post" role="form">
                  {% csrf_token %}
                 {{form.id}}
                <fieldset>
                    {% for field in form.visible_fields %}
        <div class="form-group{% if field.errors %} has-error{% endif %}">
          <label for="{{ field.label }}">{{ field.label }}</label>
          {{ field }}
          {% if field.help_text %}
            <span class="help-block">{{ field.help_text|safe }}</span>
          {% endif %}
          {% for error in field.errors %}
            <label class="control-label">{{ error }}</label>
          {% endfor %}
        </div>
      {% endfor %}

                </fieldset>

        <div class="form-group">
            <div  class="form-group-left">
              <button type="submit" class="btn btn-large btn-primary">提交</button>
              </div>
          </div>
             </form>

            </div>

         </div>
    </div>
    <!--主体内容结束-->