{% extends 'common/base.html' %}
{% block content %}
    <div class="col-md-3"></div>
    {% load static %}
    <div style="background-image: url({% static 'img/intro-bg.jpg' %}); color: white; height: 800px;">
    <br>
    <br>
    <br>
        <div style="margin: 250px auto; width: 25%;">
        <form class="form-horizontal" role="form" action={% url "login" %} method="POST" >
        {% csrf_token %}
            {% for item in form %}
                <div class="form-group">
                    <label>{{item.label}}</label>
                    <div>
                        {{item}}
                    </div>
                    <div class="col-md-offset-2 col-sm-offset-4 col-md-10 col-sm-8">
                        {{item.errors}} {{error_msg}}
                    </div>
                </div>
            {% endfor %}

            <div class="form-group">
                <div class="col-md-offset-2 col-sm-offset-4 col-md-10 col-sm-8">
                    <input type="hidden" name="next" value="{{ next }}" />
                    <button type="submit" class="btn" style="width: 120px; background-color: transparent; border: 2px solid white; margin-left: 20px; margin-top: 20px;">登 录</button>
                </div>
            </div>
        </form>
        <a href="{% url 'register' %}" style="font-size: 12px; text-decoration: none; color: #8c8c8c; float: right;">注册新账号</a>
        </div>
    </div>
{% endblock %}