{% extends 'common/base.html' %}
{% block content %}
    {% load static %}
    <div style="background-image: url({% static 'img/intro-bg.jpg' %}); color: white; height: 800px; width: 100%; overflow: hidden;">
    <div class="row" style="margin: 250px auto; height: 250px; width: 350px; background-color: transparent;">
        <form action="{% url 'register' %}" method="post">
            {% csrf_token %}
            {% for item in form %}
                <div class="form-group">
                    <label>{{item.label}}</label>
                    <div>
                        {{item}}
                    </div>
                    <div class="col-md-offset-2 col-sm-offset-4 col-md-10 col-sm-8">
                        {{item.errors}} {{error_msg}}
                    </div>
                </div>
            {% endfor %}

            <div style="width: 100%;">
                <button class="form-control" id="register" type="submit" style="background-color: transparent; border: 2px solid white; width: 110px; margin-top: 30px; margin-left: 110px; color: white;">注册</button>
            </div>
            <div style="width: 100%;">
                <a href="{% url 'login' %}" style="font-size: 12px; color: #8c8c8c; text-decoration: none; float: right;">已有账号登录</a>
            </div>


        {# js和Ajax传参使用如下 #}
{#            <label class="form-group" for="email" style="margin-top: 10px; margin-bottom: 0;">邮箱 ：</label>#}
{#            <div style="width: 100%;">#}
{#                <input name="email" class="form-control" id="email" type="text" style="background-color: transparent; color: white; border: None; border-bottom: 1px solid #ffffff; width: 100%;">#}
{#            </div>#}
{#            <label class="form-group" for="password" style="margin-top: 10px; margin-bottom: 0;">密码 ：</label>#}
{#            <div  style="width: 100%;">#}
{#                <input name="password" class="form-control" id="password" type="password" style="background-color: transparent; color: white; border: None; border-bottom: 1px solid #ffffff; width: 100%;">#}
{#            </div>#}
{#            <label class="form-group" for="confirm_password" style="margin-top: 10px; margin-bottom: 0;">确认密码 ：</label>#}
{#            <div style="width: 100%;">#}
{#                <input name="confirm_password" class="form-control" id="confirm_password" type="password" style="background-color: transparent; color: white; border: None; border-bottom: 1px solid #ffffff; width: 100%;">#}
{#            </div>#}
{#            <div style="width: 100%;">#}
{#                <button class="form-control" id="register" type="submit" style="background-color: transparent; border: 2px solid white; width: 110px; margin-top: 30px; margin-left: 110px; color: white;">注册</button>#}
{#            </div>#}
{#            <div style="width: 100%;">#}
{#                <a href="{% url 'login' %}" style="font-size: 12px; color: #8c8c8c; text-decoration: none; float: right;">已有账号登录</a>#}
{#            </div>#}
        </form>
    </div>
    </div>
{% endblock %}
{# 下面的是用Ajax和js传参的例子，测试OK #}
{#{% extends 'common/base.html' %}#}
{#{% block content %}#}
{#    {% load static %}#}
{#    <div style="background-image: url({% static 'img/intro-bg.jpg' %}); color: white; height: 800px; width: 100%; overflow: hidden;">#}
{#    <div class="row" style="margin: 250px auto; height: 250px; width: 350px; background-color: transparent;">#}
{#        <label class="form-group" for="email" style="margin-top: 10px; margin-bottom: 0;">邮箱 ：</label>#}
{#        <div style="width: 100%;">#}
{#            <input class="form-control" id="email" type="text" style="background-color: transparent; color: white; border: None; border-bottom: 1px solid #ffffff; width: 100%;">#}
{#        </div>#}
{#        <label class="form-group" for="password" style="margin-top: 10px; margin-bottom: 0;">密码 ：</label>#}
{#        <div  style="width: 100%;">#}
{#            <input class="form-control" id="password" type="password" style="background-color: transparent; color: white; border: None; border-bottom: 1px solid #ffffff; width: 100%;">#}
{#        </div>#}
{#        <label class="form-group" for="confirm_password" style="margin-top: 10px; margin-bottom: 0;">确认密码 ：</label>#}
{#        <div style="width: 100%;">#}
{#            <input class="form-control" id="confirm_password" type="password" style="background-color: transparent; color: white; border: None; border-bottom: 1px solid #ffffff; width: 100%;">#}
{#        </div>#}
{#        <div style="width: 100%;">#}
{#            <button onclick="registerFunction({% url 'register' %})" class="form-control" id="register" type="submit" style="background-color: transparent; border: 2px solid white; width: 110px; margin-top: 30px; margin-left: 110px; color: white;">注册</button>#}
{#        </div>#}
{#        <div style="width: 100%;">#}
{#            <a href="{% url 'login' %}" style="font-size: 12px; color: #8c8c8c; text-decoration: none; float: right;">已有账号登录</a>#}
{#        </div>#}
{#    </div>#}
{#    </div>#}
{##}
{#    <script type="text/javascript" src="/static/js/jquery.js"></script>#}
{#    <script type="text/javascript">#}
{#        function getCookie(name) {#}
{#            var cookieValue = null;#}
{#            if (document.cookie && document.cookie !== '') {#}
{#                var cookies = document.cookie.split(';');#}
{#                for (var i = 0; i < cookies.length; i++) {#}
{#                    var cookie = jQuery.trim(cookies[i]);#}
{#                    if (cookie.substring(0, name.length + 1) === (name + '=')) {#}
{#                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));#}
{#                    }#}
{#                }#}
{#            }#}
{#            return cookieValue;#}
{#        }#}
{#        function registerFunction(register_url){#}
{#            var email = document.getElementById("email");#}
{#            var password = document.getElementById("password");#}
{#            var confirm_password = document.getElementById("confirm_password");#}
{#            var csrftoken = getCookie('csrftoken');#}
{#            if (password.value == confirm_password.value) {#}
{#                var data = {"email": email.value, "password": password.value, "confirm_password": confirm_password.value};#}
{#                var data_str = JSON.stringify(data);#}
{#                if (data.password.length < 8) {#}
{#                    window.alert("密码至少8位");#}
{#                }#}
{#                else {#}
{#                    var registerResponse = new XMLHttpRequest();#}
{#                    registerResponse.open("POST", register_url, true);#}
{#                    registerResponse.setRequestHeader("X-CSRFToken", csrftoken);#}
{#                    registerResponse.send(data_str);#}
{#                    registerResponse.onreadystatechange=function () {#}
{#                        if (registerResponse.readyState == 4 && registerResponse.status == 200) {#}
{#                            var r_respone = JSON.parse(registerResponse.responseText);#}
{#                            alert(r_respone['msg']);#}
{#                        }#}
{#                    }#}
{#                }#}
{#            }#}
{#            else {#}
{#                window.alert("两次密码不一致！")#}
{#            }#}
{#        }#}
{#    </script>#}
{##}
{#{% endblock %}#}
