{% if messages %}
    {% for message in messages %}
        {{ message }}
    {% endfor %}
{% endif %}
<form method="post" action="{% url 'setProfile' %}" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
        <div>
            {% if field.errors %}
                {{ field.errors }}
            {% endif %}
            {{ field.label }} {{ field }}
            {% if field.help_text %}
                <p class="help">{{ field.help_text|safe }}</p>
            {% endif %}
        </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">保存修改</button>
</form>