<form method="post" action="{% url 'newNote' %}">
    {% csrf_token %}
    {% for field in form %}
        {% if field.label %}
        {{ field.label }}
        {% endif %}
        {% if field.errors %}
        {{ field.errors }}
        {% endif %}
        {{ field }}
        {% if field.help_text %}
            {{ field.help_text }}
        {% endif %}
    {% endfor %}
<button class="btn btn-primary" type="submit">保存</button>
</form>
{% load markdown_deux_tags %}
{% if note %}
    {{ note.content|markdown }}
{% endif %}