<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Landing Page - Start Bootstrap Theme</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom CSS -->
    <link href="/static/css/landing-page.css" rel="stylesheet" />

    <!-- Custom Fonts -->
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="{% url 'homepage' %}">L - Note</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                <li>
                    <form class="navbar-form navbar-left" role="search">
                      <div class="form-group">
                        <form>
                            <input type="text" class="form-control" placeholder="Search"style="border-radius: 20px;">
                            <a type="submit" class="fa fa-search" style="margin-left: -32px; text-decoration: none;"></a>
                        </form>
                      </div>
                    </form>
                </li>
                <li>
                    <a class="fa fa-pencil"> New Note</a>
                </li>
                {% if request.user.is_active %}
                    {% if request.user.profile.headshot %}
                        <li style="padding: 5px;">
                            <img src="/media/{{ request.user.profile.headshot }}" style="width: 40px; line-height: 50px; border-radius: 50%;">
                        </li>
                    {% else %}
                        <li style="padding: 10px;">
                            <img src="/static/img/user_headshot.png" style="width: 30px; line-height: 50px; border-radius: 50%;">
                        </li>
                    {% endif %}
                {% else %}
                    <li>
                        <a href="{% url 'login' %}" class="fa fa-user"> login</a>
                    </li>
                {% endif %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->

    </nav>



    <!-- Header -->
    {% block content %}{% endblock %}
    <!-- /.intro-header -->

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <a href="https://bitbucket.org/lucheng0127" class="fa fa-bitbucket"> Bitbucket:lucheng0127</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#" title="WeChat" class="fa fa-wechat"> LC_WeChat_0127</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#" class="fa fa-inbox"> lc960127@gmail.com</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#" class="fa fa-phone"> 132-5835-2971</a>
                        </li>
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; lucheng 2017</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="/static/js/jquery.js" />

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js" />


</body>

</html>
