{% extends 'common/base.html' %}
{% block content %}
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>L - Note</h1>
                    <h3>A Light and Powerful Online Note</h3>
                    <hr class="intro-divider">
                    <ul class="list-inline intro-social-buttons">
                        <li>
                            <a href="{% url 'newNote' %}" class="btn btn-default btn-lg"><span class="network-name">Start</span><i class="fa fa-arrow-circle-o-right fa-fw"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
{% endblock %}